@font-face {
  font-family: Silk Serif Light Italic;
  src: url(silk-serif-light-italic.otf);
}

@font-face {
  font-family: Silk Serif Light;
  src: url(silk-serif-light.otf);
}
@font-face {
	font-family: Afterglow-Regular;
	src: url(Afterglow-Regular.ttf);
}
@font-face {
    font-family: moetya;
    src: url(moetya.ttf);
}
@font-face {
font-family: Leky-Calgria;
src: url(Leky\ Calgria.otf);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 20px;
}

header h1 {
  font-family: Silk Serif Light;
  font-size: 1rem;
  padding-top:5px;
}

header h2 {
  font-family: Silk Serif Light Italic;
  font-size: 1.75rem;
  padding: 20px 0 0 0;
  line-height: 1.2;
  text-align: middle;

}

body {
	background-image: url("bg9.jpg");
	background-repeat: no-repeat;
    background-size: auto;
    color: #000;
    width: 100%;
  }

nav {
  font-family: Silk Serif Light Italic;
  font-size: 1.75rem;
  padding: 0 30px 0 0;
  line-height: 1.2;
}

h1 a{
  text-decoration: none;
}
h2 a,
nav a,
a{
  color: #000000;
  
}

section {
  font-family: Silk Serif Light;
  font-size: 6.5rem;
  padding: 0 20px 0 20px;
  line-height: 1.2;
}

span {
  vertical-align: super;
  font-size: 2rem;
}

.italic {
  font-family: Silk Serif Light Italic;
  vertical-align: middle;
  font-size: 6.5rem;
}

.work {
  padding: 100px 0 0 0;
  right: 0px;
  text-align: right;
}

.school {
  padding: 100px 0 0 0;
  right: 0px;
  text-align: left;
}
.overlay{
 opacity: 0;
  position: absolute;
  width: 50%;
  height: 50%;
  left: 0;
  top: 0;
  padding: 15px;
  
}

.work a {
  text-decoration: underline;
  text-decoration-skip: ink;
  color: inherit;
  padding-left: .5vw;
  padding-right: .5vw;
  margin-left: -.5vw;
  margin-right: -.5vw;
  cursor: pointer;
  animation: fadein .2s forwards ease-out;

}

.work a:hover {
  text-decoration: none;
}
.school a:hover {
  text-decoration: none;
}
.contact a:hover {
  text-decoration: none;
}


@keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 1.5vw;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}


.word{
  display: inline;
}

.focus {
  padding: 20px 0 0 0;

  right: 0px;
  text-align: right;
}

footer {
  padding: 50px 20px 10px 20px;
  font-size: 1.75rem;
  font-family: moetya;
}


@media screen and (min-width: 1024px)	{
  header h1{font-size: 6vw;}
  header h2{font-size: 2vw;}
  nav{font-size: 2vw;
  padding: 20px 0 0 0;}
  
  section{font-size: 5vw;}
  span{font-size: 1.8vw;}
  .space {height: 10vw;}
  .italic{font-size: 4.75vw;}
  
  footer{font-size:2vw;}
}

@media (max-width: 1024px)	{
header h1{font-size: 5vw;}
  header h2{font-size: 1.6vw;
   padding: 10px 0 0 0;}
  nav{font-size: 1.6vw;
  padding: 10px 0 0 0;}
  
  section{font-size: 4.75vw;}
  span{font-size: 1.5vw;}
   .space {height: 10vw;}
  .italic{font-size: 6vw;}
  footer{font-size:2vw;}
}



@media (max-width: 768px)	{
header h1{font-size: 5vw;}
  header h2{font-size: 1.6vw;
   padding: 0 0 0 0;}
  nav{font-size: 1.6vw;
  padding: 0 0 0 0;}
  
  section{font-size: 3vw;}
  .label{display:none;}
   .space {height: 10vw;}
  .italic{font-size: 5.5vw;}
  
  .work{padding: 40px 0 0 0}
  
  footer{font-size:2vw;}
  
}

